body {
    margin: 0 auto;
    padding: 0;
    padding: 10px;
}

#content {
    margin: 0 auto;
    background-color: lightgray;
    max-width: 1500px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
}

#title-nav-bar {
    background-image: linear-gradient(to bottom, #004265, #002d4e);
    padding: 20px;
    color: white;
    border-radius: 30px;
}